*{
    margin: 0;
    padding: 0;
    
}

body{
    background: #11081a;
}

.elegir{
    display: flex;
    justify-content: center;
    position: relative;
    top: 170px;
    font-size: 30px;
    color: rgb(252, 0, 0);
}

.user-contenedor{
    display: flex;
    position: relative;
    justify-content: center;
    top: 190px;
    /*border: 2px solid;*/
}

.user{
    display: flex;
    height: 150px;
    width: 150px;
    background: rgb(20, 20, 20);
    margin: 25px;
    border: 2px solid;
}

.user:hover{
    background: rgb(120, 120, 120);
    border: 2px solid rgb(170,170,170);
}

.user-num{
    position: relative;
    top: 170px;
    left: -140px;
    font-size: 20px;
    border: 2px solid;
    color: rgb(90,90,90);
}