*{
    margin: 0;
    padding: 0;
    
}

body{
    background: rgb(23, 11, 27);
}

/*---TITULO---*/
.elegir{
    display: flex;
    justify-content: center;
    position: relative;
    top: 170px;
    font-size: 30px;
    color: rgb(230, 230, 230);
    cursor: default;
}
.elegir h1 b{
    color: rgb(188, 88, 197);
}

/*-----CONTENEDOR GENERAL-----*/
.user-contenedor{
    display: flex;
    flex-grow: 1;
    position: relative;
    justify-content: center;
    top: 190px;
}

/*-----CONTENEDOR POR USUARIO-----*/
.user{
    width: 150px;
    margin: 0 25px 0 25px;
}

/*-----IMAGENES PERFIL-----*/
.user-img{
    display: flex;
    margin: auto;
    height: 150px;
    width: 150px;
    background: rgb(58, 4, 55);
    border-radius: 10px;
    cursor: pointer;
}

.user-img:hover{
    background: rgb(120, 120, 120);
    outline: 2px solid rgb(200,200,200);
}

.user-img:hover + .user-num{
    color: rgb(230, 230, 230);
}

.user-num{
    display: flex;
    justify-content: center;
    position: relative;
    width: 150px;
    font-size: 20px;
    color: rgb(146, 134, 134);
    cursor: pointer;
    
}

.user-num:hover{
    color: rgb(230,230,230);
}

.user-num:hover + .user-img{
    background: rgb(120, 120, 120);
    outline: 2px solid rgb(200,200,200);
}

.user-agregar{
    background: 0;
}