.contenedor {
  position: relative;
  width: 300px; /* Ajusta el ancho según tus necesidades */
  height: 200px; /* Ajusta la altura según tus necesidades */
}

img, iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}